@font-face{
    font-family:'source_sans_pro_regular';
    src: url("fonts/SourceSansPro-Regular.otf");
}
body {
    background-image: url(img/background@2x.jpeg);
    background-size: 105% 105%;
    background-position: center;
    background-repeat: no-repeat;
}
button {
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 40px;
    bottom: 30px;
    right: 0;
}
button#down{right: 40px;}
button#left{right: 80px;}
button#up{right: 40px; bottom:50px;}
button#mas{right: 120px; bottom:50px;}
button#menos{right: 120px; }
button#rotarmas{right: 160px; }
button#rotarmenos{right: 200px; }
.load{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    background-image: url(img/logo@2x.png);
    background-size: 121px 75px;
    background-repeat: no-repeat;
    background-position: center;
}
.boycontent{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 890px;
    height: 710px;
    /* background-color: red; */
}
.boy {
    background-image: url(img/boy.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    left: 330px;
    bottom: 0;
    width: 890px;
    height: 710px;
}
.container{
    position: absolute;
    width: 400px;
    height: 340px;
    top: -160px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo{
    position: absolute;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 10px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 200px;
    opacity: 0;
    display:none;
}
.circle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    background-image: url(img/circle@2x.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    opacity: 0;
    display:none;
}
.copyright{
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 10px;
    color: #999;
    font-family: 'source_sans_pro_regular';
    font-size: 13px;
    line-height: 1.5em;
    z-index: 1;
}